<div id="show-user">
  <div class="row">

    <div class="small-4 columns">
      <% if @user.image_url %>
        <%= image_tag @user.image_url, size: '200x200', class: "th radius" %>
      <% else %>
        <%= gravatar_image_tag(@user.email) %>
      <% end %>
      <h3><%= @user.name %></h3>

      <div class="stories-contributed">

      <hr>
      <h4 class='profile-list-headers'>Stories Created</h4>
      <hr>
      <% if @parent_stories.length > 0 %>
        <% @parent_stories.last(5).each do |story| %>
          <h6><%= link_to story.title, story, :data => { :node => story.id } %></h6>
        <% end %>
      <% else %>
        <h6>No stories created yet.</h6>
      <% end %>
      </div>

      <div class="nodes-contributed">
        <hr>
        <h4 class='profile-list-headers'>Nodes Contributed</h4>
        <hr>
        <% if @children_nodes.length > 0 %>
          <% @children_nodes.last(5).each do |node| %>
            <h6><%= link_to node.title, story_path(node), :data => { :node => node.id }  %></h6>
          <% end %>
        <% else %>
          <h6>No nodes created yet.</h6>
        <% end %>
      </div>
    </div>

    <div class="small-8 columns">
      <div class="row">
        <div class="small-6 columns">
          <hr>
          <h4 class='profile-list-headers'>Favorite Authors</h4>
          <hr>
          <% if @user.favorite_authors.any? %>
            <% @user.favorite_authors.uniq.last(5).each do |author| %>
              <h6><%= link_to author.name, profile_path(author) %></h6>
            <% end %>
          <% else %>
            <h6>No authors favorited yet.</h6>
          <% end %>
        </div>
        <div class="small-6 columns">
          <hr>
          <h4 class='profile-list-headers'>Favorite Stories</h4>
          <hr>
          <% if @user.starred_stories.any? %>
            <% @user.starred_stories.last(5).each do |story| %>
              <h6><%= link_to story.title, story %></h6>
            <% end %>
          <% else %>
            <h6>No stories favorited yet.</h6>
          <% end %>
      </div>
      <div id='story-viewer' class="small-12 columns">
      	<h4>Story Viewer</h4>
        <div id='chart'></div><div><a id='node-link' class="hide"></a></div><div id='superNav'></div>
      <div id='superNav'></div> 
      </div>
    </div>
      
  </div>
</div>
