<div class="show-user">
  <div class="row">

    <div class="small-4 columns">
      <%= image_tag @user.image_url, size: '200x200', class: "th radius" %>
      <h3><%= @user.name %></h3>
      <div>

      <h4>Stories Created</h4>
      <% if @parent_stories.length > 0 %>
        <% @parent_stories.each do |story| %>
          <h6><%= link_to story.title, story %></h6>
        <% end %>
      <% else %>
        <h6>No stories created yet.</h6>
      <% end %>
      </div>

      <div>
        <h4>Nodes Contributed</h4>
        <% if @children_nodes.length > 0 %>
          <% @children_nodes.each do |node| %>
            <h6><%= link_to node.title, story_path(node) %></h6>
          <% end %>
        <% else %>
          <h6>No nodes created yet.</h6>
        <% end %>
      </div>
    </div>

    <div class="small-8 columns">
      <div class="row">
        <div class="small-6 columns">
          <h4>Favorite Authors</h4>
          <% if @user.favorite_authors.any? %>
            <% @user.favorite_authors.each do |author| %>
              <h6><%= link_to author.name, profile_path(author) %></h6>
            <% end %>
          <% else %>
            <h6>No authors favorited yet.</h6>
          <% end %>
        </div>
        <div class="small-6 columns">
          <h4>Favorite Stories</h4>
          <% if @user.starred_stories.any? %>
            <% @user.starred_stories.each do |story| %>
              <h6><%= link_to story.title, story %></h6>
            <% end %>
          <% else %>
            <h6>No stories favorited yet.</h6>
          <% end %>
      </div>
      <div class="small-12 columns">
      	<h4>Story Viewer</h4>
      </div>
    </div>

  </div>
</div>
