<% if @node.errors.any? %>
  <%= @node.errors.full_messages do |message| %>
    <p class="error"><%= message %></p>
  <% end %>
<% end %>

<%= form_for @node, url: {action: "create"} do |f| %>
  <%= f.label "title" %>
  <%= f.text_field :title %>
  <%= f.label "content" %>
  <%= f.text_field :content %>
  <%= f.label "parent node" %>
  <%= f.text_field :parent_node %>
  <%= f.submit %>
<% end %>
