<%= form_for @story do |f| %>
  <%= fields_for @story.node do |n| %>
    <%= n.text_field :title %>
    <%= n.text_area :content, class: "tinymce" %>
    <%= tinymce %>
    <p></p>
    <% if @parent_node %>
      <%= n.hidden_field :parent_node, value: @parent_node %>
    <% else %>
      <%= n.hidden_field :parent_node, value: "0" %>
    <% end %>
  <% end %>
  <%= f.text_field :tag_list %>
  <%= f.submit %>
<% end %>
