<% if @story.errors.any? %>
  <%= @story.errors.full_messages do |message| %>
    <p class="error"><%= message %></p>
  <% end %>
<% end %>

<%= form_for @story do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
