<%= form_for @story do |f| %>
  <%= fields_for @story.node do |n| %>
    <% if @uploaded_content %>
      <%= n.text_field :title, value: @saved_title %>
      <%= n.text_area :content, class: "tinymce", value: @uploaded_content %>
    <% else %>
      <%= n.text_field :title %>
      <%= n.text_area :content, class: "tinymce" %>
    <% end %>
    <%= tinymce %>
    <p></p>
    <% if @parent_node %>
      <%= n.hidden_field :parent_node, value: @parent_node %>
    <% else %>
      <%= n.hidden_field :parent_node, value: "0" %>
    <% end %>
  <% end %>
  <%= f.file_field :upload %>
  <p>Accepted formats: PDF and TXT</p>
  <p>If a file is uploaded, the content field will be appended to the file.</p>
  <% if @saved_tags %>
    <%= f.text_field :tag_list, value: @saved_tags %>
  <% else %>
    <%= f.text_field :tag_list %>
  <% end %>
  <%= f.submit %>
<% end %>
