<div class="row">
  <div id="show-story" class="show-story small-12-columns">
    <h2><%= @story.first[:title] %></h2>
    <p><%= @story.first[:content] %></p>
    <% @story.drop(1).each_with_index do |node, index| %>
      <div class="node-title" style="min-height: 30px"><h5 style="display:none; opacity: 0.7"><%= node[:title] %></h5></div>
      <p><%= node[:content] %></p>
      <% children_nodes = Node.find(node[:id]).children_nodes %>
      <% if children_nodes.length > 1 %>
        <a href="#" data-dropdown="drop<%= node[:id] %>" class="button success round" style="opacity: 0.5">Check Out Another Branch</a>
        <ul id="drop<%= node[:id] %>" class="f-dropdown" data-dropdown-content>
          <% children_nodes.each do |child_id| %>
            <% if child_id != @story[index + 2][:id] %>
              <% child_node = Node.find(child_id) %>
              <li><%= link_to child_node.title, story_path(child_node) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>