<div id="reading-page">
  <div id="reading-background">
    <div class='buttons'>
      <button class="dimlights">Dim Lights</button>
      <button class="brighten">Brighten</button>
      <div id="map-offset"><span><img id="story-map" src="/map.png" data-id="<%= @story.first[:id] %>" data-endnode="<%= @story.last[:id] %>"></span></div>
    </div>
    <div class="row">
      <div id="show-story" class="show-story small-12-columns">
        <div id="chart-holder"></div>
        <h2><%= image_tag 'book.png', :id => 'bookmark_icon', :title => 'Bookmark Story' %><%= @story.first[:title] %></h2>
        <p><i>Started by <%= @story.first[:author] %></i></p>
        <p><%= @story.first[:content].html_safe %></p>
        <%= render partial: "links", locals: {node: @story.first, story: @story, index: 0} %>
        <% @story.drop(1).each_with_index do |node, index| %>
          <div class="node-title"><h5 class="title-text"><%= node[:title] %> <i>by <%= node[:author] %></i></h5></div>
          <p><%= node[:content].html_safe %></p>
          <%= render partial: "links", locals: {node: node, story: @story, index: index} %>
        <% end %>
        <hr class="space">
      </div>
    </div>
  </div>
</div>
