<nav class="top-bar">
  <ul class="title-area">
    <!-- Title -->
    <li class="name">
      <h1><%= link_to image_tag('logos/StoryWard_Primary.png', class: 'nav_logo'), root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Browse Stories", stories_path %></li>
      <li><%= link_to "Search Stories", "#", id: "search" %></li>
    </ul>

    <ul class="right">
      <li><%= link_to "Create a Story", new_story_path %></li>        
      <li><%= link_to "My Profile", profile_path(current_user) %></li>
      <li><%= link_to "Browse Authors", profiles_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </section>
</nav>