<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title -->
      <li class="name">
        <h1>
          <%= link_to "StoryWard", root_path %>
        </h1>
      </li>
      <li class="toggle-topbar"></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to "Browse Stories", stories_path %></li>
      </ul>

      <ul class="right">
        <li><%= link_to "Create a Story", new_story_path %></li>        
        <li><%= link_to "My Profile", profile_path(current_user) %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </section>
  </nav>
</div>