<div id='search-holder' class='small-9-columns reveal-modal'>
  <%= form_tag "/stories/search", :name => "searchForm" do %>
    <%= label_tag :tag_tokens, "Search by Tag:" %>
    <%= text_field_tag :tag_tokens %>
    <p></p>
    <%= label_tag :search_bar, "Search by title, keyword or author:" %>
    <%= text_field_tag :search_bar %>
    <%= submit_tag "Search!" %>
  <% end %> 
  <a class='close-reveal-modal'>&#215;</a>
</div>"