<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "StoryWard" %></title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= render "/layouts/nav" %>
      <%= render '/layouts/search' %>
    <% end %>
    <div <%= content_for :container_modifier %> class="container small-9 small-centered columns">
      <%= display_flash_messages %>
      <%= yield %>
      <div class="reveal-modal" id="modalContainer" style="display:hidden;"></div>
    </div>
  </body>
</html>
